<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="css/styles.css">
  <link rel="icon" href="css/favicon.ico">
  <title>Dota 2 Autochess Helper</title>
</head>

<body>
  <nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2" href="#">
        <i class="fas fa-chess fa-3x d-md-inline-block d-block mx-auto " role="img" title="Top"></i>
      </a>
      <a id="reset" class="py-2 d-none d-md-inline-block" href="javascript:;">리셋</a>
      <!-- <span class="py-2 d-none d-md-inline-block">리셋</span> -->
      <a class="py-2 d-none d-md-inline-block" href="/#synJob">직업적용</a>
      <a class="py-2 d-none d-md-inline-block" href="/#synAll">전체적용</a>
      <a class="py-2 d-none d-md-inline-block" href="/guide">시너지 가이드</a>
      <!-- <a class="py-2 d-none d-md-inline-block" href="#">Support</a> -->
      <!-- <a id="viewTwoCol" class="py-2 d-none d-md-inline-block" href="javascript:;">보기전환</a> -->
      <% if (authenticated===1) { %>
      <a class="py-2 d-none d-md-inline-block" href="/logout">Logout</a>
     <%} else {%>
       <a class="py-2 d-none d-md-inline-block" href="/login">Login</a>
     <%}%>
    </div>
  </nav>
